* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

body {
    display: flex;
}

.img-container {
    background-image: url(https://images.unsplash.com/photo-1549545931-59bf067af9ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80);
    width: 35vw;
    height: 100vh;
    background-position: center;
    position: relative;
}

.logo {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 20vh;
}

h1 {
    font-family: Norse-Bold;
    font-size: 6em;
    color: white;

}

.image-credit {
    position: absolute;
    bottom: 10px;
    left: calc((100% - 230px) / 2);
    color: white;
}

a:visited {
    color: rgb(220, 220, 197);
}

.signup-container {
    background-color: rgb(220, 220, 197);
    width: 65vw;
    height: 100vh;
}